html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.header{
	background-color: floralwhite;
}
.logo{
	display: block;
	width: 12%;
	height: 12%;
	margin: auto;
}
.logoFrame{
	text-align: center;
	padding: 1em;
	margin-bottom:1em ;
	font-size: 2vw;
	text-decoration: none;

	
}
.webname{
	text-decoration: none;
}
.navigation{
	justify-content: space-evenly;
	display: flex;	
	text-align: center;
	width: 100%;
}
.navbutton{
	padding: 2vw;
	width: 20%;
	font-size: 2vw;
	box-shadow: 0px 2px 0px 0.5px rgba(0, 0, 0, 0.3);

}
.link{
	padding: 2vw 5vw 2vw 4.5vw;
	text-decoration: none;
	color: black;
}
.navbutton:hover{
	transform: translateY(3px);
	box-shadow: 2px 5px 6px 0px black;
}
.border{
	width: 100%;
	height: 1.5vw;
}
.contacts{
	position: relative;
	bottom: 0;
	text-align: center;
	font-size: 2vw;
	border-top: 1.5px black double;
	width: 100%;
	margin-top: 4vw;
}

.right_form{
	text-align: center;
	font-size: 1.5vw;
	width: 75%;
	margin: auto;
	padding: 2vw;
	display: flex;
}
.left_form{
	text-align: center;
	font-size: 1.5vw;
	width: 20%;
	margin: auto;
	padding: 2vw;
	box-shadow: 0px 2px 0px 0.5px rgba(0, 0, 0, 0.3);
	border-radius: 5vw;
	border: 1px black solid;
	display: flex;
	flex-wrap: wrap;
}
.title{
	width: 25%;
	font-size: 4vw;
	text-align: center;
	padding: 1.5vw;
	margin-top: 3vw;
}
.container{
	width: 100%;
	display: flex;

}
.fish{
	width: 50%;
	height: 50%;
	margin: auto;
}
.cart{
	width: 25%;
	margin: auto;
}
.description{
	width: 75%;
	margin: auto;
}
.addcart{
	margin: auto;
	font-size: 1.5vw;
	width: 60%;
}
.change{
	width: 25%;
	font-size: 1.5vw;
	margin: auto;
}
.counter{
	width: 25%;
	font-size: 1.5vw;
	margin: auto;
	border: 0.5px black solid;
}

